<!-- Sidenav -->
{{>sidebar}}
<!-- Main content -->
<div class="main-content">
    <!-- Top navbar -->
    {{navbar}}
    <!-- Header -->
    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
        style="min-height: 600px; background-image: url(/img/me/bgAboutpage.jpg); background-size: cover; background-position: center top;">
        <!-- Mask -->
        <span class="mask bg-gradient-default opacity-5"></span>
        <!-- Header container -->
        <div class="container-fluid d-flex align-items-center">
            <div class="row">
                <div class="col-lg-7 col-md-10">
                    <h1 class="display-2 text-white">MQTT SOLUTION
                    </h1>
                    <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with
                        your work and manage your projects or assigned tasks</p>
                    <a href="/list" class="btn btn-info">View dashboard</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
        <div class="row">
            <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
                <div class="card card-profile shadow">
                    <div class="row justify-content-center">
                        <div class="col-lg-3 order-lg-2">
                            <div class="card-profile-image">
                                <a href="#">
                                    <img src="/img/me/ddt.jpg" class="rounded-circle">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                        <div class="d-flex justify-content-between">
                            <a href="#" class="btn btn-sm btn-info mr-4">Facebook</a>
                            <a href="#" class="btn btn-sm btn-default float-right">Github</a>
                        </div>
                    </div>
                    <div class="card-body pt-0 pt-md-4">
                        <div class="row">
                            <div class="col">
                                <h2 style="text-align: center;" class="lead mt-5 mb-3"><b>TS. ĐÀO DUY TUẤN</b></h2>
                                <p class="text-muted text-sm"><b>Lĩnh vực nghiên cứu: </b>
                                    Computer Network, Wireless Communication, Mobility Management, IoT,
                                    Vehicular Network, AI
                                </p>
                                <ul class="ml-4 mb-0 fa-ul text-muted">
                                    <li class="small mb-2"><span class="fa-li"><i
                                                class="fas fa-lg fa-building"></i></span>
                                        Địa chỉ: 54
                                        Nguyễn
                                        Lương Bằng, Liên Chiểu, Đà Nẵng</li>
                                    <li class="small mb-2"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span>
                                        Điện
                                        thoại liên
                                        hệ:
                                        0976306692</li>
                                    <li class="small mb-2"><span class="fa-li"><i
                                                class="fa-solid fa-envelope"></i></span>
                                        Email:
                                        ddt@dut.udn.vn </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
                <div class="card card-profile shadow">
                    <div class="row justify-content-center">
                        <div class="col-lg-3 order-lg-2">
                            <div class="card-profile-image">
                                <a href="#">
                                    <img src="/img/me/lpc.jpg" class="rounded-circle">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                        <div class="d-flex justify-content-between">
                            <a href="#" class="btn btn-sm btn-info mr-4">Facebook</a>
                            <a href="#" class="btn btn-sm btn-default float-right">Github</a>
                        </div>
                    </div>
                    <div class="card-body pt-0 pt-md-4">
                        <div class="row">
                            <div class="col">
                                <h2 style="text-align: center;" class="lead mt-5 mb-3"><b>LÊ PHẠM CÔNG</b></h2>
                                <p class="text-muted text-sm" style="margin-bottom: 0;"><b>Khoa:
                                    </b>Điện tử- Viễn thông</p>
                                <p class="text-muted text-sm"><b>Chuyên ngành: </b> Kỹ thuật máy tính
                                </p>
                                <ul class="ml-4 mb-0 fa-ul text-muted">
                                    <li class="small mb-2"><span class="fa-li"><i
                                                class="fas fa-lg fa-building"></i></span>
                                        Địa chỉ: Hòa
                                        Khánh Nam, Liên Chiểu, Đà Nẵng</li>
                                    <li class="small mb-2"><span class="fa-li"><i
                                                class="fa-solid fa-id-card"></i></span> Mã
                                        số sinh viên:
                                        106200221 </li>
                                    <li class="small mb-2"><span class="fa-li"><i
                                                class="fa-solid fa-envelope"></i></span>
                                        Email:
                                        lpc051002@gmail.com </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
                <div class="card card-profile shadow">
                    <div class="row justify-content-center">
                        <div class="col-lg-3 order-lg-2">
                            <div class="card-profile-image">
                                <a href="#">
                                    <img src="/img/me/nxs.jpg" class="rounded-circle">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                        <div class="d-flex justify-content-between">
                            <a href="#" class="btn btn-sm btn-info mr-4">Facebook</a>
                            <a href="#" class="btn btn-sm btn-default float-right">Github</a>
                        </div>
                    </div>
                    <div class="card-body pt-0 pt-md-4">
                        <div class="row">
                            <div class="col">
                                <h2 style="text-align: center;" class="lead mt-5 mb-3"><b>NGÔ XUÂN SỸ</b></h2>
                                <p class="text-muted text-sm" style="margin-bottom: 0;"><b>Khoa:
                                    </b>Điện tử- Viễn thông</p>
                                <p class="text-muted text-sm"><b>Chuyên ngành: </b> Kỹ thuật máy tính
                                </p>
                                <ul class="ml-4 mb-0 fa-ul text-muted">
                                    <li class="small mb-2"><span class="fa-li"><i
                                                class="fas fa-lg fa-building"></i></span>
                                        Địa chỉ: Hòa
                                        Khánh
                                        Nam, Liên Chiểu, Đà Nẵng</li>
                                    <li class="small mb-2"><span class="fa-li"><i
                                                class="fa-solid fa-id-card"></i></span> Mã
                                        số sinh viên:
                                        106200244 </li>
                                    <li class="small mb-2"><span class="fa-li"><i
                                                class="fa-solid fa-envelope"></i></span>
                                        Email:
                                        ngoxuansy30082002@gmail.com </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        {{>footer}}
    </div>
</div>
<script>
    var currentUser = {{{ json currentUser }}}
    console.log(currentUser);
    if (currentUser) {
        localStorage.setItem("currentUser", currentUser)
    }
</script>
<!-- Include scripts -->
{{>scripts}}