<body class="bg-default">
    <div class="main-content">
        <!-- Navbar -->
        {{>auth/navbar}}
        <!-- Header -->
        {{>auth/header}}
        <!-- Page content -->
        <div style="margin-top: -300px;" class="container pb-5">
            <!-- Table -->
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-7">
                    <div class="card bg-secondary shadow border-0">
                        <div class="card-body px-lg-5 py-lg-5">
                            <div class="text-center text-muted mb-4">
                                <small>Forgot Password</small>
                            </div>
                            <form role="form" action="/auth/forgotpassword" method="POST">
                                {{#if msgSuccess}}
                                <div class="mb-3">
                                    <small class="text-success font-weight-700">{{msgSuccess}}
                                    </small>
                                </div>
                                {{/if}}
                                {{#if msgErr}}
                                <strong class="invalid-feedback mt--3 mb-3" style="display: block">
                                    {{msgErr}}
                                </strong>
                                {{/if}}
                                <div class="form-group">
                                    <div class="input-group input-group-alternative mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                        </div>
                                        <input class="form-control" name="email" placeholder="Email" type="email"
                                            required>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-primary mt-4">Send Password Reset Link</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    {{>auth/footer}}

    <!-- Include scripts -->
    {{>scripts}}
</body>